/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #23272a;
}

.section-1,
.section-2 {
    display: flex;
    padding: 30px 0;

}

.section-2 {
    justify-content: center;

}



.footer {
    padding-bottom: 0%;
}

.flex-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

/* section>div {
    border: 1px dashed black;
} */


/*-------------------
    GRID LAYOUT
-------------------*/

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.row {
    background-color: transparent;
    display: flex;
    justify-content: center;

}




.row15 {
    width: 15%;
    justify-content: flex-start;
}



.row70 {
    width: 70%;


}

.box {
    width: 80%;
    min-height: 400px;
    background-color: transparent;
    color: white;



}

.box-70 {
    width: 70%;
    min-height: 490px;


}

.box-30 {
    width: 30%;
    min-height: 490px;
    font-size: 25px;
    padding-top: 30px;
}

.box-30 p {
    padding-top: 20px;
    font-size: 12px;
    line-height: 25px;
    color: #7e8082;

}



.box-100 {
    width: 100%;
    min-height: 890px;
    padding: 20px 10px;


}

.box-20 {
    width: 20%;
    /* min-height: 570px; */
    margin-top: -8px;

}

.box-80 {
    width: 80%;
    /* min-height: 570px; */

    display: flex;
}

.box-25 {
    width: 25%;
}

.last {
    min-height: 45px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #4a5882;


}

/* .mini-box {
    background-color: #ffb6c1;
    border: 1px dashed black;
} */





/*-------------------
    HEADER
-------------------*/
.bg-sh1 {
    background-color: #3161e0;
}


.bg-sh2 {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.row li {
    list-style: none;
    padding: 0 10px;


}

.row a {
    text-decoration: none;
    color: white;

}



.special button {
    background-color: white;
    border-radius: 20px;
    width: 63px;
    height: 35px;
    color: black;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    font-weight: 500px;


}

.box>h1 {
    font-size: 50px;
}

.box>p {
    font-size: 30px;
    padding-top: 40px;
}

.box>* {
    text-align: center;
}

.btn {
    border-radius: 20px;
    border: transparent;
    height: 40px;
    font-size: 15px;
    width: 150px;


}

.black {
    background-color: #23272a;
    color: white;
    margin-left: 30px;
    width: 200px;

}










/*-------------------
    MAIN
-------------------*/
.bg-sm {
    background-color: #f6f6f6
}

.img-box {
    display: flex;
    justify-content: flex-end;
}

/* -----------------------
fourth  block 
--------------------------*/

.box-100 h2 {
    li
}

.box-100 img {
    width: 100%;
}

.box-100 p {
    padding-top: 30px;
    line-height: 2;
}

.box-100 h3 {
    text-align: center;
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-position: center;
}

.box-100 .btn {
    background-color: #8ea1e1;
    text-align: center;
    color: white;
}

.box-100 div {
    display: flex;
    justify-content: center;
    padding-top: 40px;

}




/*-------------------
    footer
-------------------*/
.bg-sf {
    background-color: #23272a;

}

/* .close {
    border-top: 1px solid white;
    border-bottom: 1px solid white;

} */



h4 {
    color: #5a6ba6;
}

.box-20 h4 {
    font-size: 24px;

}

.box-20 div {
    padding-top: 40px;
    color: white;
    font-size: 10px;

}

.box-25 ul {
    padding-top: 10px;
    color: white;
    line-height: 2;
    list-style: none;
    font-size: 10px;

}

.box-20 i {
    color: white;
    font-size: 10px;
}

.box-20 a {
    text-decoration: none;
}

..img-foot {
    background-color: transparent;
}

.foot {
    width: 90px;
    height: 43px;
}

.img-foot {
    padding-bottom: 20px;
}